<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
    <ul>
        <li><a href="/student/add">학생등록</a></li>
        <li><a href="/student/list">학생목록</a></li>
        <li><a href="/lecture/add">강의등록</a></li>
        <li><a href="/lecture/list">강의목록</a></li>
        <li><a href="/major/add">학과등록</a></li>
        <li><a href="/major/list">학과목록</a></li>
        <li><a href="/score/apply">수강신청</a></li>
        <li><a href="/score/list">성적조회</a></li>
    </ul>
</body>
</html>